<!--{template common/header}-->
<div id="pt" class="bm cl">
	<div class="z">
		<a href="./" class="nvhm" title="{lang homepage}">$_G[setting][bbname]</a><em>&raquo;</em><a href="forum.php">{$_G[setting][navs][2][navname]}</a><em>&raquo;</em><!--{$navtitle}-->
	</div>
</div>
<link href="source/plugin/yinxingfei_recharge/assets/css/main.css?{VERHASH}" rel="stylesheet">
<div class="snp-box-main">
	<form method="post" name="pay_form" id="pay_form" autocomplete="off" onsubmit="credit_submit();return false;">
		<input type="hidden" name="formhash" value="<!--{FORMHASH}-->">
		<input type="hidden" name="snpSubmit" value="true">
		<input type="hidden" name="snpExtcredits" id="snp-extcredits" value="0">
		<input type="hidden" id="snp-type" value="{$set['type']}">
		<div class="snp-box-main-warp">
			<div class="snp-box-main-top">
				<div class="snp-box-main-title-step1">
					<i class="iconfont">&#xe662;</i>
					<span>选择积分</span>
				</div>
				<div class="snp-box-main-title-line">
					<i></i>
				</div>
				<div class="snp-box-main-title-step2">
					<i class="iconfont">&#xe63a;</i>
					<span>支付订单</span>
				</div>
				<div class="snp-box-main-title-line">
					<i></i>
				</div>
				<div class="snp-box-main-title-step3">
					<i class="iconfont">&#xe654;</i>
					<span>积分到账</span>
				</div>
			</div>
			<div class="tpay-notice" {if $extcreditsCount == 1}style="padding-bottom:10px;"{/if}>
				<ul>
					{eval}
						$set_txt_array = explode("\n", $set['txt']);
					{/eval}
					{loop $set_txt_array $key $value}
						<li>
							{eval echo trim($value);}
						</li>
					{/loop}
				</ul>
			</div>
			<div class="snp-box-main-input">
				<div class="snp-select {if $extcreditsCount == 1}snp-only-one{/if}" name="snp-select">
					{if $extcreditsCount == 1}
						<span>温馨提示：{$extcredits[$onlyone]['ratio']}{$extcredits_list[$onlyone]['title']} / 元</span>
						<ul>
							{$li_html}
						</ul>
					{else}
						<a href="javascript:;" class="snp-select-a"><font color=#a9a9a9>选择充值积分</font></a>
						<ul>
							{$li_html}
						</ul>
					{/if}
				</div>
				<div class="snp-form-group">
					{if $set['type'] == 1}
						<input type="text" name="snpNum" class="snp-input" placeholder="输入充值积分数量" />
					{else}
						<input type="text" name="snpFee" class="snp-input" placeholder="输入充值金额" />
					{/if}
				</div>
				<div>
					<p class="spn-help-block" id="snp-tip" style="display:none;">等待计算</p>
				</div>
			</div>
			<div>
				<button type="submit" id="go-pay" class="go-pay-btn">提交订单</button>
			</div>
		</div>
		<span style="display: none" id="return_pay_form"></span>
	</form>
</div>
<script src="source/plugin/yinxingfei_recharge/assets/js/jquery.min.js"></script>
<script src="source/plugin/yinxingfei_recharge/assets/js/jquery.placeholder.min.js"></script>
<script src="source/plugin/yinxingfei_recharge/assets/js/main.js?{VERHASH}"></script>

{if $extcreditsCount == 1}
<script type="text/javascript">
	var jq = jQuery.noConflict();

	var firstLi = jq('.snp-only-one li').eq(0);
	textValue = firstLi.text();
	inputValue = jq(".snp-input").val();

	//赋值基本参数
	extcreditsValue = firstLi.attr('extcredits-value');
	ratioValue = firstLi.attr('ratio-value');
	leastValue = firstLi.attr('least-value');
	mostValue = firstLi.attr('most-value');
	titleValue = firstLi.attr('title-value');
	jq('#snp-extcredits').val(extcreditsValue);

</script>
{/if}

<script type="text/javascript" src="http://www.suinipai.com/v1/returnscripts.php?appId={$_G['cache']['plugin']['yinxingfei_recharge']['partner']}"></script>
<!--{template common/footer}-->