<!--{template common/header}-->
<header class="header">
    <div class="nav">
        <a href="javascript:;" onclick="history.go(-1)" class="z"><img src="{STATICURL}image/mobile/images/icon_back.png" /></a>
		<span>充值</span>
    </div>
</header>
<link href="source/plugin/yinxingfei_recharge/assets/css/main.css?{VERHASH}" rel="stylesheet">
<div class="snp-box-main">
<form method="post" name="pay_form" id="pay_form" autocomplete="off" onsubmit="credit_submit(this);return false;">
	<input type="hidden" name="formhash" value="<!--{FORMHASH}-->">
	<input type="hidden" name="snpSubmit" value="true">
	<input type="hidden" name="snpExtcredits" id="snp-extcredits" value="0">
	<input type="hidden" id="snp-type" value="{$set['type']}">
	<div class="snp-box-main-warp">
		<div class="snp-box-main-top">
			<div class="snp-box-main-title-step1">
				<i class="iconfont">&#xe662;</i>
				<span>选择积分</span>
			</div>
			<div class="snp-box-main-title-line">
				<i></i>
			</div>
			<div class="snp-box-main-title-step2">
				<i class="iconfont">&#xe63a;</i>
				<span>支付订单</span>
			</div>
			<div class="snp-box-main-title-line">
				<i></i>
			</div>
			<div class="snp-box-main-title-step3">
				<i class="iconfont">&#xe654;</i>
				<span>积分到账</span>
			</div>
		</div>
		<div class="tpay-notice">
			<ul>
				{eval}
					$set['txt'] = explode("\n", $set['txt']);
				{/eval}
				{loop $set['txt'] $key $value}
					<li>
						{eval echo trim($value);}
					</li>
				{/loop}
			</ul>
		</div>
		<div class="snp-box-main-input">
			<div class="snp-select" name="snp-select">
				<a href="javascript:;" class="snp-select-a"><font color=#a9a9a9>选择充值积分</font></a>
				<ul>
					{eval}
						for($i = 1; $i <= 8; $i++) {
							if($setting['extcredits'][$i]['available']){
					{/eval}
								<li extcredits-value="{$i}" ratio-value="{$extcredits[$i]['ratio']}" least-value="{$extcredits[$i]['least']}" most-value="{$extcredits[$i]['most']}" title-value="{$setting['extcredits'][$i]['title']}">
									{$extcredits[$i]['ratio']}{$setting['extcredits'][$i]['title']} / 元
								</li>
					{eval}
							}
						}
					{/eval}
				</ul>
			</div>
			<div class="snp-form-group">
				{if $set['type'] == 1}
					<input type="text" name="snpNum" class="snp-input" placeholder="输入充值积分数量" />
				{else}
					<input type="text" name="snpFee" class="snp-input" placeholder="输入充值金额" />
				{/if}
			</div>
			<div>
				<p class="spn-help-block" id="snp-tip" style="display:none;">等待计算</p>
			</div>
		</div>
		<div>
			<button type="submit" id="go-pay" class="go-pay-btn">提交订单</a>
		</div>
	</div>
	<span style="display: none" id="return_pay_form"></span>
</form>
<script src="source/plugin/yinxingfei_recharge/assets/js/jquery.min.js"></script>
<script src="source/plugin/yinxingfei_recharge/assets/js/jquery.placeholder.min.js"></script>
<script src="source/plugin/yinxingfei_recharge/assets/js/main.js?{VERHASH}"></script>
<script type="text/javascript" src="http://www.suinipai.com/v1/returnscripts.php?appId={$_G['cache']['plugin']['yinxingfei_recharge']['partner']}"></script>
</div>
<!--{template common/footer}-->